*{
    box-sizing:border-box;
}

body{
    margin: 0;
    font-family: $font-text;
    line-height: 1.6;
    
}
h1, h2, h3, h4, h5,h6 {
    font-family: $font-title;
    text-transform: uppercase;
    font-weight: $light;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

label, input, textarea {
    display: block;
    &__img{
        display: block;
    }
    &__copy{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

main {
    padding-bottom: 4em;
}