//Layout desde 1025px


@include desde($large){
    .contact {
        display: flex;
        justify-content: space-between;
        &-data,
        &-form-container {
            width: 49%;
        }
    }    
}


//contenedor del mapa
.contact-data {
    .contact-address,
    .contact-phone{
        opacity: .8;
        font-size: .85em;
        &:before {
            margin-right: .3em;
            position: relative;
            top: 2px;
        }
    }
}

.contact-form-container {
    input {
        width: 100%;
        line-height: 1.7;
        border: 1px solid rgba($black,.25 );
        margin-bottom: .8em;
    }
    label {
        font-size: .8em;
        opacity: .7;
    }

    [type="submit"]{
        text-transform: uppercase;
        line-height: 3;
        width: auto;
        cursor: pointer;
    }
}