.main-footer {
    background: $black;
    padding: 1.5em 0;
    text-align: center;
}

.social-icon {
    font-size: 1.4em;
    display: inline-block;
    margin:  0.3em;
    color: $white;
    opacity: .5;
    &:hover {
        opacity: 1;
    }
}